h1{
    font-family: sans-serif;/*tipo da letra */
    font-size:36px; /*tamanha da letra*/
    color: darkcyan;/* cor da çetra*/
    }
p {
    font-family:sans-serif;
    font-size: 12px;
    color: coral;
  }